<ion-header>
<ion-toolbar color="dark">
  <!-- <ion-button fill="clear" href="./" slot="start"> 
     <ion-icon name="arrow-back-outline" size="large"></ion-icon> 
  </ion-button>  -->
<ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons>
  <ion-title>Détail</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngIf="(item$|async) as item">
    <ion-card-header class="ion-text-center" >
      <ion-text>
        <p>{{item.id}}</p>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-text>
        <h1>{{item.name}}</h1>
        <p>{{item.type}}</p>
      </ion-text>
      <ion-text>
        {{item.level|level}}
      </ion-text>
      <hr>
      <ion-text *ngIf="(itemDesc$|async) as itemDscr">
        {{itemDscr.extract}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>