:root {

    --ion-color-medium: #3b3b3b;
    --ion-color-medium-rgb: 59,59,59;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #343434;
    --ion-color-medium-tint: #4f4f4f;

  }